<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="automation.workday.workday.testScripts.LoginTest" />
			<class
				name="automation.workday.workday.testScripts.RememberDeviceTest" />
			<class 
				name="automation.workday.workday.testScripts.HomeTest" />
			<class
				name="automation.workday.workday.testScripts.PersoalInfoTest" />
			<class
				name="automation.workday.workday.testScripts.ChangeMyPersonalInfoTest" />
			<class
				name="automation.workday.workday.testScripts.SubmissionTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
